{% extends 'base.html.twig' %}

{# {% block title %}Hello MainController!{% endblock %} #}

{% block body %}

	<div class="container">
		<hr>
		<h1>{% trans %}Nos actuces{% endtrans %}</h1>
		<p>({% trans %}mi-actus mi-actuces{% endtrans %})</p>

		


	</div>
{% endblock %}
