{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="container bg-warning">

    <h1>{% trans %}Bienvenue sur{% endtrans %} adopte1dev.com</h1>

    
</div>
{% endblock %}
