{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue sur adopte1dev.com</h1>

    
</div>
{% endblock %}
