{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Administration du site' %}

{% block page_content %}
    <p>
        <strong>Admin</strong>
    </p>   
{% endblock %}
