@font-face {
    font-family: Calibri;
    src: url('../../public/fonts/calibri/Calibri_Regular.ttf');
}

@font-face {
    font-family: Pacifico;
    src: url('../../public/fonts/pacifico/Pacifico.ttf');
}

body{
    width: 80vw;
    min-height: 100vh;
    margin: auto;
    font-family: Calibri_Regular, sans-serif;    
    font-size: 14px;    
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

/*
TOOLS
*/
.all-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-white{
    color: white;
}

.text-lightPink{
    color: #FFAADE;
}

.pacifico {
    font-family: Pacifico;
    font-weight: 400;
}

.text-center{
    text-align: center;
}

.row{
    display: flex;
    width: 100%;
}

.col3{
    width: 25%;
}

.bg-darkblue{
    background-color: #11244D;
}

/*
HEADER
*/
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    font-weight: bolder;
}

.header__logo img{
    height: 7vh;
}

.header__subcontent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__subcontent form input{
    border-radius: 30px;
    border: 1px solid;
}

.header__subcontent form button{
    background-color: white;
    color: #28007B;    
    font-weight: bolder;
    border: none;
}

.header__subcontent img {
    height: 35px;
    border-radius: 50%;
    margin-left: 1vw;
}

nav {
    width: 100%;
    background-color: #28007B;
    border-radius: 30px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav ul li a:hover{
    text-shadow: 1px 1px 10px #FFAADE;
}

/*
FOOTER
*/
footer {
    background-color: #28007B;
}

footer img{
    max-width: 80%;
    padding: 2vh;
}

footer p{
    font-size: small;
    text-align: center;
    width: 100%;
    color: white;
}

footer span{
    color: #EC1F7D;
}

footer ul{
    padding-inline-start: 0;
}

footer li{
    list-style: none;
}

footer li i{
    
}

footer a{
    color: #FFAADE;
    text-decoration: none;
}

.socials{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15%;
    color: #28007B;    
    font-size: 30px;
    text-align: center;
    margin: 5px;
}